NODE_ENV=development

PORT=3005
SERVICE_PREFIX=api/user

GRPC_URL=0.0.0.0:50055

AUTH_SERVICE_GRPC_URL==0.0.0.0:50051

POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=users

POSTGRES_REPLICA_HOST=0.0.0.0
POSTGRES_REPLICA_PORT=5432
POSTGRES_REPLICA_USERNAME=postgres
POSTGRES_REPLICA_PASSWORD=password
POSTGRES_REPLICA_DATABASE=users


RABBITMQ_URI=amqp://guest:guest@localhost:5672

RATE_LIMIT_TTL=60000
RATE_LIMIT_COUNT=100
RATE_LIMIT_PREFIX=rate-limit:user-service: